In [1]:
import pandas as pd

In [2]:
# Задание № 1. Фильм с большим колличеством оценок - 5

# Читаем файлы

data_movies = pd.read_csv('./task_10_data/movies.csv')
data_ratings = pd.read_csv('./task_10_data/ratings.csv')

# Соединяем таблицы и берем нужные столбцы (ID, title, rating)

joined_dm_dr = data_movies.merge(data_ratings)
joined_dm_dr[['movieId', 'title', 'rating']]

# Находим фильм с большим колличеством оценок - 5

def rating(value):
    filtered_top = joined_dm_dr[(joined_dm_dr['rating'] == value)]
    top = filtered_top.groupby(['movieId', 'title'])['movieId'].count()
    return top.sort_values(ascending=False).head()

rating(5)

movieId  title
318      Shawshank Redemption, The (1994)             153
296      Pulp Fiction (1994)                          123
356      Forrest Gump (1994)                          116
2571     Matrix, The (1999)                           109
260      Star Wars: Episode IV - A New Hope (1977)    104
Name: movieId, dtype: int64

In [3]:
# Задание № 2. Посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония).
# Категоря: 4, 12 и 21 за период с 2005 по 2010 года. 
# Не учитывайте в расчетах отрицательные значения quantity.

# Читаем файл

data_power = pd.read_csv('./task_10_data/power.csv')

# Создаем фильтр: 

filter_country = data_power[ 
                            # страны Прибалтики 
                            ( 
                            (data_power['country'] == 'Latvia') |
                            (data_power['country'] == 'Lithuania') |
                            (data_power['country'] == 'Estonia')
                            ) &
                            # категоря: 4, 12 и 21 
                            ( 
                            (data_power['category'] == 4) |
                            (data_power['category'] == 12) |
                            (data_power['category'] == 24)
                            ) & 
                            # период с 2005 по 2010 года
                            (
                            (data_power['year'] >= 2005) & \
                            (data_power['year'] <= 2010)
                            ) &
                            # только положительные
                            (data_power['quantity'] >= 0) ]

filter_country['quantity'].sum()

52668.0

In [4]:
# Задание № 3. Импортировать данные с сайта.

data_html = pd.read_html('https://www.sport-express.ru/football/', encoding = 'Windows-1251')
data_html[4]

    Команды  Команды.1    И    В    Н    П   +/-     О
0       NaN        NaN  NaN  NaN  NaN  NaN   NaN   NaN
1       1.0      Зенит  4.0  4.0  0.0  0.0  10-2  12.0
2       2.0    Спартак  4.0  2.0  2.0  0.0   7-4   8.0
3       3.0       Сочи  4.0  2.0  2.0  0.0   8-6   8.0
4       4.0  Локомотив  4.0  2.0  1.0  1.0   5-3   7.0
5       5.0     Динамо  4.0  2.0  1.0  1.0   4-2   7.0
6       6.0      Ахмат  4.0  2.0  1.0  1.0   5-4   7.0
7       7.0  Краснодар  4.0  2.0  0.0  2.0   5-2   6.0
8       8.0       ЦСКА  4.0  2.0  0.0  2.0   6-5   6.0
9       9.0     Ростов  4.0  2.0  0.0  2.0   2-4   6.0
10     10.0       Урал  4.0  1.0  2.0  1.0   3-4   5.0
11     11.0        Уфа  4.0  1.0  1.0  2.0   4-7   4.0
12     12.0      Рубин  4.0  1.0  1.0  2.0   5-7   4.0
13     13.0    Арсенал  4.0  1.0  1.0  2.0   4-5   4.0
14     14.0     Тамбов  4.0  1.0  0.0  3.0   3-7   3.0
15     15.0      Химки  4.0  0.0  1.0  3.0   2-6   1.0
16     16.0      Ротор  4.0  0.0  1.0  3.0   2-7   1.0