In [2]:
import pandas as pd

In [2]:
%%time

# Задание № 1. Функция классифицирующая фильмы по следующим правилам:
# оценка 2 и меньше - низкий рейтинг
# оценка 4 и меньше - средний рейтинг
# оценка 4.5 и 5 - высокий рейтинг

    
def class_movies(row):
    # Функция, которая выводить рейтинг фильма:
    # низкий, средний, высокий
    if row['rating'] <= 2.0:
        return 'низкий рейтинг'
    elif 2.0 < row['rating'] <= 4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'


ratings = pd.read_csv('./task_11_data/ratings.csv')[['movieId', 'rating']]

ratings['class'] = ratings.apply(class_movies, axis=1)
ratings.head()

Wall time: 1.66 s

   movieId  rating            class
0       31     2.5  средний рейтинг
1     1029     3.0  средний рейтинг
2     1061     3.0  средний рейтинг
3     1129     2.0   низкий рейтинг
4     1172     4.0  средний рейтинг

In [20]:
%%time

# Задание № 1. Функция классифицирующая фильмы по следующим правилам:
# оценка 2 и меньше - низкий рейтинг
# оценка 4 и меньше - средний рейтинг
# оценка 4.5 и 5 - высокий рейтинг

    
def class_movies(column):
    # Функция, которая выводить рейтинг фильма:
    # низкий, средний, высокий
    if column <= 2.0:
        return 'низкий рейтинг'
    elif 2.0 < column <= 4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'


ratings = pd.read_csv('./task_11_data/ratings.csv')[['movieId', 'rating']]

ratings['class'] = ratings['rating'].apply(class_movies)
ratings.head()

Wall time: 49.9 ms

   movieId  rating            class
0       31     2.5  средний рейтинг
1     1029     3.0  средний рейтинг
2     1061     3.0  средний рейтинг
3     1129     2.0   низкий рейтинг
4     1172     4.0  средний рейтинг

In [4]:
%%time
# Задание 2. Необходимо написать гео-классификатор, 
# который каждой строке сможет выставить географическую принадлежность определенному региону.

# Исходные данные.

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

data = pd.read_csv('./task_11_data/keywords.csv')

# Создадим список городов.

city = []
for cities in geo_data.values():
    for citys in cities:
        city.append(citys)

# Создаем функцию по поиску ключевых слов.

def region(row):
    data = row['keyword'].split(' ')
    for word in data:
        if word in city:
            for items in geo_data.items():
                if word in items[1]:
                    return items[0]
    else:
        return 'undefined'

data['region'] = data.apply(region, axis=1)

data[data['region'] != 'undefined']

Wall time: 1.08 s

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]

In [5]:
%%time
# Задание 2. Необходимо написать гео-классификатор, 
# который каждой строке сможет выставить географическую принадлежность определенному региону.

# Исходные данные.

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

data = pd.read_csv('./task_11_data/keywords.csv')

# Создадим список городов.

city = []
for cities in geo_data.values():
    for citys in cities:
        city.append(citys)

# Создаем функцию по поиску ключевых слов.

def region(column):
    data = column.split(' ')
    for word in data:
        if word in city:
            for items in geo_data.items():
                if word in items[1]:
                    return items[0]
    else:
        return 'undefined'

data['region'] = data['keyword'].apply(region)

data[data['region'] != 'undefined']

Wall time: 151 ms

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]